{% extends "header.html" %}
{% load static %}
{% block content %}	
	<div class="menu trans_500">
		<div class="menu_content d-flex flex-column align-items-center justify-content-center text-center">
			<div class="menu_close_container"><div class="menu_close"></div></div>
			<div class="logo menu_logo"><a href="#"><img src="{% static 'images/logo.png' %}" alt=""></a></div>
			<ul>
				<li class="menu_item"><a href="{% url 'index' %}">home</a></li>
				<li class="menu_item"><a href="#">about us</a></li>
				<li class="menu_item"><a href="#">offers</a></li>
				<li class="menu_item"><a href="#">news</a></li>
				<li class="menu_item"><a href="#">contact</a></li>
			</ul>
		</div>
	</div>

	<!-- Home -->

	<div class="home">
		<div class="home_background parallax-window" data-parallax="scroll" data-image-src="{% static 'images/contact_background.jpg' %}"></div>
		<div class="home_content">
			<div class="home_title">Forgot Password</div>
		</div>
	</div>

	<!-- Form Section -->

	<div class="contact_form_section">
		<div class="container">
			<div class="row">
				<div class="col">

					<div class="contact_form_container">
						<div class="contact_title text-center">Reset Password</div>
						{% if msg %}
						<div class="alert alert-danger" role="alert">
							{{msg}}
						</div> 
						{% endif %}
						<form action="{% url 'forgot_password' %}" id="contact_form" class="contact_form text-center" method="post">
							{% csrf_token %}
							<input type="email" id="contact_form_subject" class="contact_form_subject input_field" placeholder="Enter your email" name="email" required>
							
                            <button type="submit" id="form_submit_button" class="form_submit_button button trans_200">Send OTP<span></span><span></span><span></span></button>
						</form>
					</div>

				</div>
			</div>
		</div>
	</div>

{% endblock %}
